name: Build Linux

on:
  push:
    branches: ['main']
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: ubuntu-22.04
    runs-on: ubuntu-22.04
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Linux dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libgtk-3-dev \
            libwebkit2gtk-4.0-dev \
            libappindicator3-dev \
            librsvg2-dev \
            patchelf \
            libsoup2.4-dev

      - uses: oven-sh/setup-bun@v2
      - uses: Swatinem/rust-cache@v2
        
      - name: Install Frontend Dependencies
        run: bun install
        
      - name: Build Tauri App
        run: bun tauri build

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: koharu-linux
          path: |
            **/target/release/bundle/deb/*.deb
            **/target/release/bundle/appimage/*.AppImage
            **/target/release/koharu
          if-no-files-found: error
